{% extends 'FrontEnd/base.html.twig' %}

{% block page_title %}EAER Project - Blog{% endblock %}

{% block body %}
    <div class="container">
        <section class="page">
            <div class="section white">
                <div class="container title">
                    <h1>News</h1>
                </div>
                <ul class="portfolio-navigation-1">
                    <a class="btn btn-success btn-md anim150" style="margin:0 10px;padding: 12px 18px;">All</a>
                    {% for category in category_list %}
                        <a class="flag btn btn-success" href="{{ url("blog_category", {'category': category.slug}) }}" style="margin:0 10px">
                            <img src="{{ asset('flags/' ~ category.flag) }}" style="width:32px">
                        </a>
                    {% endfor %}
                    {% block javascripts %}
                    <script>
                        $('.flag').bind('mouseenter', function(){
                            $(this).effect("bounce", { times:3 }, 300);
                        });
                    </script>
                    {% endblock %}
                    <li class="break"></li>
                </ul>
                <nav class="breadcrumb text-left">
                    <a href="{{ url('front_end') }}">Home</a> / Blog {% if app.request.attributes.get('_route') == 'blog_category' %}/ {{ category }}{% endif %}
                </nav>
                <br>
                <div class="row">
                    <div class="col-sm-9">
                        <ul id="portfolio-grid-1">
                            {% for post in pagination %}
                                <li class="mix-1 {{ post.category }} mix_all card" style=" display: inline-block; opacity: 1; width: 100%">
                                    <div class="row">
                                        <div class="col-md-3">
                                            {% if post.image == '' %}
                                                <img src="{{ asset('images/media_placeholder.png') }}" style="width:300px">
                                            {% else %}
                                                <img src="{{ asset(post.image) | imagine_filter('thumb', {"thumbnail": {"size": [300, 300] }}) }}" style="width:300px">
                                            {% endif %}
                                        </div>
                                        <div class="col-md-9">
                                            <h2 class="title"><a href="{{ url('blog_article', {'year' : post.datetime|date("Y"), 'month' : post.datetime|date("m") ,'slug' : post.slug }) }}">{{ post.title }}</a></h2>
                                            <h5>{{ post.datetime|date("m-d-Y") }}</h5>
                                            <i>{{ post.content|truncate(150)|striptags }}</i>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-body" style="padding: 20px 0">
                                <h3 class="card-title" style="padding-bottom: 10px">
                                    Posts by Month
                                </h3>
                                <ul class="">
                                    {% for item in months %}
                                        <li class="">
                                            <a href="{{ url('blog_by_month', {'month': item.month, 'year': item.year}) }}">
                                                {{ item.monthName }} {{ item.year }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="navigation">
                    {{ knp_pagination_render(pagination, null, {}, {
                        'position': 'centered',
                        'size': 'large',
                        'rounded': true,
                    }) }}
                </div>
            </div>
        </section>
        <style>
            .card {
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                transition: 0.3s;
                /*width: 100%;*/
                margin: 15px 15px;
            }

            .card:hover {
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            }

            .container {
                padding: 2px 16px;
            }
            .card h2 {
                margin: 20px 0 10px 0!important;
            }
            .card i {
                margin-bottom: 15px;
            }
            .card a {
                margin-top: 15px!important;
            }
        </style>
    </div>
{% endblock %}
{% block stylesheets %}

{% endblock %}