{% extends 'admin/dashboard/index.html.twig' %}

{% block title %}EAER Admin{% endblock %}

{% block page_title %}Pages{% endblock %}
{% block page_subtitle %}Partners{% endblock %}

{% block page_content %}
    {% block breadcrumb %}{% endblock %}
    <div class="container-fluid">
        <div class="col-md-8">
            <div class="panel">
                <div class="panel-body">
                    <table class="table table-responsive table-hover">
                        <thead>
                        <tr>
                            <th>Logo</th>
                            <th>Title</th>
                            <th>Name</th>
                            <th>Active</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in items %}
                            {% set active = 1 %}
                            <tr>
                                <td><img style="height:24px" src="../../{{ item.logo }}"></td>
                                <td>{{ item.title }}</td>
                                <td>{{ item.name }}</td>
                                <td>
                                    {% if active == 1 %}
                                        <div class="label label-success">Active</div>
                                    {% else %}
                                        <div class="label label-warning">Hidden</div>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-body">
                    {{ form_start(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}