
<footer id="footer" class="page footer">
    <div class="container">
        <div class="row">

            <!-- DISCLAIMER -->

            <div class="col-lg-4 col-md-4 col-sm-12">
                <h2 class="left">Disclaimer</h2>
                <img class="img-responsive" src="{{ asset('images/erasmus.png') }}">
                <br><br>
                <small>European Action for Employment in Recovery is a project supperted by the Erasmus+ Programme of the European Commission under the Key Action 2 - Strategic Partnerships for the Development of Innovation in Vocational Education and Training</small>
            </div>

            <!-- TWITTER FEED -->

            <div class="col-lg-4 col-md-4 col-sm-12">
                <h2 class="center">Twitter Feed</h2>
                <a class="twitter-timeline" href="https://twitter.com/EAER"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>

            <!-- SOCIAL MEDIA -->

            <div class="col-lg-4 col-md-4 col-sm-12">
                <h2 class="right">Social Media</h2>
                <div class="col-lg-8 col-md-8 col-sm-12 social">
                    <ul>
                        <li><span class="symbol">&#xe227;</span></li>
                        <li><span class="symbol">&#xe286;</span></li>
                    </ul>
                </div>x
            </div>
        </div><!-- end .row -->
    </div><!-- end .container -->

    <!-- COPYRIGHT AND SOCIAL ICONS -->


</footer><!-- end #footer -->

<!-- Scroll To Top Button -->
<div class="scroll-to-top" id="back-top"></div>

<!-- Corner Alerts -->
<div id="jerro-alert"></div>

<!-- JAVASCRIPTS -->

<!-- jQuery Main Library -->
<script type="text/javascript" src="{{ asset('js/custom/jquery-1.8.3.min.js') }}"></script>
<!-- jQuery Easing Library -->
<script type="text/javascript" src="{{ asset('js/custom/jquery.easing.min.js') }}"></script>
<!-- Bootstrap Scripts -->
<script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
<!-- Jerro Responsive Navigation -->
<script type="text/javascript" src="{{ asset('js/custom/jerro-navigation.js') }}"></script>
<!-- Transitions Script -->
<script type="text/javascript" src="{{ asset('js/custom/jquery.transit.min.js') }}"></script>
<!-- Jerro Circle Grid -->
<script type="text/javascript" src="{{ asset('js/custom/jerro-circles.js') }}"></script>
<!--[if lt IE 10]>
<script type="text/javascript" src="{{ asset('js/custom/jerro-circles-ie9.js') }}"></script>
<![endif]-->

<!-- OWL Carousel -->
<script type="text/javascript" src="{{ asset('js/custom/owl.carousel.js') }}"></script>
<!-- Text Rotator -->
<script type="text/javascript" src="{{ asset('js/custom/jquery.simple-text-rotator.min.js') }}"></script>
<!-- Nivo Lightbox -->
<script type="text/javascript" src="{{ asset('js/custom/nivo-lightbox.min.js') }}"></script>
<!-- MixitUp Sortable Gallery -->
<script type="text/javascript" src="{{ asset('js/custom/jquery.mixitup.js') }}"></script>
<!-- Parallax Scrolling -->
<script type="text/javascript" src="{{ asset('js/custom/parallax-scrolling-master.js') }}"></script>
<!-- Fixed Menu -->
<script type="text/javascript" src="{{ asset('js/custom/jquery.sticky.js') }}"></script>
<!-- Jerro Image Viewer -->
<script type="text/javascript" src="{{ asset('js/custom/jerro-zoom.js') }}"></script>
<!-- JavaScript Polyfill For The HTML5 Placeholder Attribute -->
<script type="text/javascript" src="{{ asset('js/custom/jquery.placeholder.js') }}"></script>
<!-- Knob Charts -->
<script type="text/javascript" src="{{ asset('js/custom/jquery.knob.js') }}"></script>
<!-- Video As Background -->
<script type="text/javascript" src="{{ asset('js/custom/jquery.mb.YTPlayer.js') }}"></script>
<!-- Google Maps -->
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyCA3KsFClAGhNVeStAmU8prARb3Lvnqo08"></script>
<!-- GMAP3 -->
<script type="text/javascript" src="{{ asset('js/custom/gmap3.min.js') }}"></script>
<!-- Flickr Feed -->
<script type="text/javascript" src="{{ asset('js/custom/jflickrfeed.js') }}"></script>
<!-- Twitter Feed -->
<script type="text/javascript" src="{{ asset('js/custom/tweetie.js') }}"></script>
<!-- Ajax Loader -->
<script type="text/javascript" src="{{ asset('js/custom/jerro-ajax-loader.js') }}"></script>
<!-- Share Button -->
<script type="text/javascript" src="{{ asset('js/custom/jquery.sharrre.min.js') }}"></script>
<!-- Jerro Alerts -->
<script type="text/javascript" src="{{ asset('js/custom/jerro-alerts.js') }}"></script>
<!-- Custom Jerro Functions -->
<script type="text/javascript" src="{{ asset('js/custom/jerro-functions.js') }}"></script>

